/* 头部 */
.header{
    width: 1366px;
    height: 66px;
    background: #ebebeb;
    position: relative;
}
.header span:nth-child(1){
    display: inline-block;
    width: 143px;
    height: 31px;
    background: url(../images/images_Laed/logo1.jpg) no-repeat;
    position: absolute;
    top: 18px;
    left: 188px;
}
.header span:nth-child(2){
    display: inline-block;
    border-left: 2px solid #cccccc;
    padding-left: 14px;
    font-size: 18px;
    position: absolute;
    top: 25px;
    left: 346px;
}
.tips{
    width: 1366px;
    height: 40px;
    line-height: 40px;
    background: #fffbe4;
    text-align: center;
}
.tips p{
    font-size: 14px;
    color: #989898;
}
/* 主体 */
.main{
    width: 1366px;
    height: 590px;
    background: url(../images/images_Laed/dl.bg.jpg) no-repeat;
    overflow: hidden;
    position: relative;
}
.login{
    width: 378px;
    height: 532px;
    background: #fff;
    position: absolute;
    top: 30px;
    right: 118px;
    box-sizing: border-box;
    padding: 0 26px;
}
.login .tit{
    width: 276px;
    height: 24px;
    margin: 20px auto;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.login .tit em{
    font-size: 20px;
    cursor: pointer;
}
.login .tit em:hover{
    color: #1aa8d5;
}
.login .tit em:nth-child(1){
    border-right: 1px solid #ccc;
    padding-right: 60px;
    color: #1aa8d5;
    box-sizing: border-box;
}
.login form input{
    width: 326px;
    height: 46px;
    border-bottom: 1px solid #ccc;
}
.login form a{
    display: block;
    color: #1aa8d5;
    font-size: 12px;
    background:url(../images/images_Laed/icon1.jpg) no-repeat;
    background-position: 0 2px;
    padding-left: 16px;
    margin-top: 16px;
}
.login form #btn{
    width: 330px;
    height: 42px;
    border: 0;
    outline:none;
    border-radius: 22px;
    color: #fff;
    background: #1aa8d5;
    margin-top: 16px;
}
.login div:nth-of-type(2){
    margin-top: 16px;
}
.login div:nth-of-type(2) input{
    position: relative;
    top: 2px;
}
.login div:nth-of-type(2) span,a{
    font-size: 12px;
}
.login div:nth-of-type(2) a{
    float: right;
    color: #1aa8d5;
}
.login div:nth-of-type(3){
    color: #ccc;
    width: 120px;
    margin: 20px auto;
}
.login div:nth-of-type(3) a{
    color: #007dff;
}
.login div:nth-of-type(3) a:first-child{
    padding-right: 5px;
}
.login .login_ff{
    text-align: center;
    width: 245px;
    margin: 0 auto;
    margin-top: 120px;
}
.login .login_ff h2{
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}
.login .login_ff a{
    margin: 0 8px;
}
/* 扫码登录 */
.login2{
    width: 378px;
    height: 532px;
    background: #fff;
    position: absolute;
    top: 30px;
    right: 118px;
    box-sizing: border-box;
    padding: 0 26px;
    display: none;
}
.login2 .tit{
    width: 276px;
    height: 24px;
    margin: 20px auto;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.login2 .tit em{
    font-size: 20px;
    cursor: pointer;
}
.login2 .tit em:hover{
    color: #1aa8d5;
}
.login2 .tit em:nth-child(2){
    border-left: 1px solid #ccc;
    padding-left: 60px;
    color: #1aa8d5;
    box-sizing: border-box;
}
.login2 .Scan{
    display: block;
    width: 162px;
    height: 162px;
    background: url(../images/images_Laed/erweima1.jpg) no-repeat;
    position: absolute;
    top: 25%;
    left: 29%;
    transition:all .3s;
}
.login2 .Scan:hover{ 
      left: 4%
}
.login2 .txts{
    width: 347px;
    height: 58px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 12px;
}
.login2 .txts p{
    font-size: 14px;
    line-height: 20px;
}
.login2 .txts p span{
    font-size: 14px;
    color: #007dff;
}
.login2 .Phone{
    position: absolute;
    right: 6%;
    top: 17%;
    display: none;
}
/* 尾部 */
.footer{
    width: 1366px;
    height: 80px;
    background: #ebebeb;
    text-align: center;
    color: #999;
    overflow: hidden;
}
.footer div{
    margin: 20px 0 10px 0;
}
.footer div a{
    color: #999;
    margin: 0 10px;
}
.footer div a:hover{
    text-decoration: underline;
}
.footer p{
    font-size: 12px;
}