/*共公宽度*/
.container{
    width: 1200px;
    margin: 0 auto;
}
/*头部*/
.header-wrapper{
    height: 30px;
    background: url(../images/sy-bg.png) repeat;
}
.header{
    height: 30px;
    line-height: 30px;
}
.header .header-dh,.login{
    color: #fff;
    float: right;
}
.header .header-dh{
    display: flex;
    justify-content: space-between;
    width: 193px;
    margin-right: 60px;
}
.header .header-dh a{
    color: #fff;
    font-size: 14px;
}
.header .login a{
    color: #fff;
    font-size: 14px;
}
/*导航栏*/
.newss-wrapper{
    height: 60px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
    position: relative;
}
.newss{
    height: 60px;
    line-height: 60px;
}
.logo{
    margin-top: 20px;
    float: left;
    width: 106px;
    height: 21px;
    background: url(../images/sy-logo.png) no-repeat;
}
.logo h1 a{
    display: block;
    width: 106px;
    height: 21px;
    text-indent: -9999px;
}
.news_s{
    float: left;
    width: 736px;
    height: 60px;
    margin-left: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_s a{
    display: block;
    padding: 14px;
    font-size: 16px;
    color:#909090;
    border-bottom: 4px solid #fff;
}
.news_s a:hover{
    border-bottom: 4px solid #0097d5;
}
.search{
    float: right;
}
.search form{
    position: relative;
}
.search form input:nth-of-type(1){
    width: 242px;
    height: 32px;
    border: 1px solid #959595;
    border-radius: 14px;
    padding: 0 18px 0 14px;
    box-sizing: border-box;
}
.search form input:nth-of-type(2){
    width: 18px;
    height: 18px;
    background: url(../images/fdj.png) no-repeat;
    position: absolute;
    right: 11px;
    top: 22px;
    cursor: pointer;
}
.search form a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    padding: 0 3px;
    border-radius: 3px;
    background: #eee;
    color: #707070;
    z-index: 1;
}
.search form a:nth-child(1){
    position: absolute;
    right: 100px;
    top: 21px;
}
.search form a:nth-child(2){
    position: absolute;
    right: 35px;
    top: 21px;
}
.newss-wrapper .subnav{
    position: absolute;
    top: 60px;
    width: 100%;
    background:-webkit-linear-gradient(top,#0071cd 60%,white);
    z-index: 10;
    transition: all .3s;
}
/*轮播图*/
.banner{
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}
.banner span{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.banner span:nth-child(1){
    left: 30px;
    background: url(../images/z.png) no-repeat;
}
.banner span:nth-child(2){
    right: 30px;
    background: url(../images/y.png) no-repeat;
}
.banner ul{
    width: 9999px;
}
.banner ul li{
    float: left;
}
/*手机展示*/
.screen{
    text-align: center;
}
.screen h2{
    font-size: 36px;
    margin-top: 36px;
    margin-bottom: 30px;
}
.condition select{
    width: 148px;
    height: 36px;
    border-radius: 5px;
    margin: 0 12px;
}
.condition select option{
    width: 148px;
    height: 36px;
}
.New_products{
    margin-top: 70px;
}
.New_products div{
    float: left;
}
.New_products div:first-child{
    margin-left: 175px;
}
.New_products div:last-child span{
   display: block;
}
.New_products div:last-child span:nth-child(1){
    width: 159px;
    height: 36px;
    background: url(../images/sy-low1.jpg) no-repeat;
}
.New_products div:last-child span:nth-child(2){
    width: 114px;
    height: 25px;
    background: url(../images/sy-low.jpg) no-repeat;
    margin: 16px 0;
}
.New_products div:last-child{
    margin-top: 82px;
}
.New_products div:last-child p{
    line-height: 32px;
}
.New_products div:last-child a{
    display:inline-block;
    width: 133px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 32px;
    text-align:center;
    font-size:16px;
}
.New_products div:last-child a:nth-of-type(1){
    background-color: #e5004f;
    color: #fff;
}
.New_products div:last-child a:nth-of-type(2){
    border: 1px solid #ccc;
    color: #000;
    margin-left: 15px;
}
/* 推荐 */
.Recommend-wrap{
    background: #f6f6f6;
    height: 460px;
}
.Recommend{
    height: 460px;
    overflow: hidden;
}
.box-title{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    border-left: 3px solid #00b5e2;
    margin: 20px 0;
}
.box-title h3{
    float: left;
    font-size: 22px;
    margin-left: 8px;
}
.box-title a{
    float: right;
    font-size: 16px;
    color: #909090;
}
.box-count{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.box-count .list{
    width: 290px;
    height: 370px;
    background: #fff;
    transition: all .8s;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.box-count .list:hover{
    box-shadow: 0 0 20px #ccc;
    transform: translateY(-4px);
    z-index: 2;
}
.box-count .list h3{
    font-size: 20px;
    margin-top: 25px;
    line-height: 36px;
}
.box-count .list p{
    font-size: 14px;
    color: #707070;
}
.box-count .list a:nth-of-type(1){
    display: block;
    width: 160px;
    height: 180px;
    background: url(../images/sy-img0.jpg) no-repeat;
    margin: 0 auto;
    margin-top: 18px;
}
.box-count .list .gm{
    display: inline-block;
    margin-top: 30px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.box-count .list a:nth-of-type(2){
    background: #e5004f;
    color: #fff;
}
.box-count .list a:nth-of-type(3){
    border:1px solid #9a9a9a;
    color: #707070;
}
.box-count .list span{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #0071cd;
    text-align: center;
    position: absolute;
    top: 37px;
    right: 20px;
}
/* 平台推荐 */
.hw_mall-wrap{
    height: 480px;
    background: #f6f6f6;
}
.hw_mall{
   position: relative;
   height: 480px;
   background: url(../images/sy-bg2.jpg) no-repeat;
}
.hw_mall .box-bg{
   position: absolute;
   top: 175px;
   left: 248px;
}
.hw_mall .box_link{
    position: absolute;
    top: 275px;
    left: 332px;
}
.hw_mall .box_link a{
    display: block;
    width: 182px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.hw_mall .box-right{
    position: absolute;
    top: 53px;
    right: 53px
}
.hw_mall .box-right h3{
    font-size: 22px;
    color: #fff;
    line-height: 46px;
}
.hw_mall .box-right p{
    font-size: 16px;
    color: #fff;
}
.hw_mall .box-right div{
    width: 256px;
    height: 270px;
}
.hw_mall .box-right div a{
    float: left;
    display: block;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-top: 52px;
    background: url(../images/sy-img01.png) no-repeat;
}
.hw_mall .box-right div a:nth-child(odd){
    margin-right: 40px;
}
 /* 最新消息 */
.news_wrap{
    height: 398px;
    background: #f6f6f6;
}
.news{
    height: 398px;
    overflow: hidden;
}
.news_list{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.news_list div{
    width: 382px;
    height: 332px;
    background: #fff;
    overflow: hidden;
}
.news_list div a span{
    width: 380px;
    height: 270px;
}
.news_list div a span img{
    transition: all .2s ease-in;
}
.news_list div a span:hover img{
    width: 390px;
    height: 280px;
}
.news_list div a span:nth-of-type(1){
    width: 380px;
    height: 270px;
}
.news_list div a span:nth-of-type(2){
    display: block;
    font-size: 16px;
    color: #000;
    width: 382px;
    height: 18px;
    line-height: 18px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_list div a span:nth-of-type(3){
    display: block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    color: #909090;
}
/* 尾部服务中心 */
.platform-wrap{
     height: 392px;
     background: #f6f6f6;
     margin-top: 26px;
}
.platform{
    position: relative;
    height: 392px;
    background: url(../images/sy-bg3.jpg) no-repeat;
}
.platform div{
    position: absolute;
    top: 140px;
}
.platform div h2{
    font-size: 30px;
    color: #fff;
    line-height: 25px;
}
.platform div p{
    font-size: 18px;
    color: #fff;
    line-height: 80px;
}
.platform .box-left{
    width: 357px;
    height: 125px;
    text-align: center;
    left: 125px;
}
.platform .box-right{
    text-align: center;
    position: absolute;
    right: 222px;
}
/* 尾部 */
.footer_top_wrap{
    height: 290px;
    background: #01a7dc;
}
.footer-top{
    height: 290px;
    padding-top: 36px;
}
.link{
    float: left;
    width: 600px;
    color: #fff;
}
.footer-top h2{
    font-size: 18px;
    line-height: 40px;
}
.link>div{
    float: left;
    margin-right: 56px;
}
.link div li a{
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}
.link div:last-child{
    padding-right: 80px;
    border-right: 1px solid #fff;
}
.contact{
    float: left;
}
.contact div{
   float: left;
   margin-right: 30px;
   color: #fff;
}
.contact div p,a{
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}
.contact div a{
    display: block;
    width: 128px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 12px;
}
.footer-bottom{
    height: 100px;
    color: #707070;
}
.footer-bottom ul{
    margin:22px 0 10px 0;
}
.footer-bottom ul li{
    float: left;
}
.footer-bottom ul li a{
    color: #707070;
    margin: 0 10px;
}
.footer-bottom p a{
    color: #707070;
    font-size: 16px;
}
.footer-bottom p a:hover{
    color: #000;
}